@font-face {
  font-family: "Circular";
  src: url("./fonts/Circular/Circular-Medium.eot");
  src: url("./fonts/Circular/Circular-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Circular/Circular-Medium.woff2") format("woff2"),
    url("./fonts/Circular/Circular-Medium.woff") format("woff"),
    url("./fonts/Circular/Circular-Medium.svg#Circular-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

body > #root > div {
  height: 100vh;
  position: fixed;
  width: 100vw;
}
.App {
  font-family: "Circular", sans-serif;
  font-weight: bold;
  background: #00ab7f;
  width: auto;
  color: white;
  letter-spacing: 0.15em;
  font-size: 3vh;
}

.apiForm {
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
  color: #0b3948;
}

a:hover {
  color: white;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.centerText {
  text-align: center;
}

select {
  color: #0b3948;
  font-weight: bold;
  font-family: "Circular", sans-serif;
  outline: none;
  margin-bottom: 1%;
}

input {
  border: none;
  background: transparent;
  font-family: "Circular", sans-serif;
  letter-spacing: 0.15em;
  font-weight: bold;
  font-size: 1em;
  color: #0b3948;
  outline: none;
}

input.form-control {
  text-decoration: underline;
}

.form-control::-webkit-input-placeholder {
  text-decoration: underline;
}

.inputCentered {
  text-align: center;
}

.submit {
  cursor: pointer;
}
.submit:hover {
  color: white;
}

.textForm {
  width: 33%;
  font-size: 0.9em;
  text-align: justify;
  margin: 0 auto;
}

button {
  border: none;
  background-color: transparent;
  font-family: "Circular", sans-serif;
  font-weight: bold;
  letter-spacing: 0.15em;
  color: #0b3948;
  font-size: 1.5em;
  cursor: pointer;
  outline: none;
}
button:hover {
  cursor: pointer;
  color: white;
}

.buttonRight {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 4%;
}
.buttonLeft {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 4%;
}

.submitButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 4%;
}

::placeholder {
  color: #0b3948;
  font-size: 1em;
  font-family: "Circular", sans-serif;
}

select {
  background-color: transparent;
  border: 0;
  font-size: 0.9em;
  letter-spacing: 0.15em;
}

.customselect {
  width: 20vw;
  height: 20vh;
}

h1 {
  font-weight: bold;
  justify-self: center;
  font-size: 8vh;
  color: white;
  padding: 1%;
}

h2 {
  color: #0b3948;
}

h2.fit {
  font-size: 1.33em;
  color: white;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}

h3 {
  font-size: 1em;
  margin: 1%;
  color: white;
  font-weight: normal;
  letter-spacing: 0.1em;
}

.barImg {
  min-width: 350px;
  width: 30%;
  height: auto;
}

.barName {
  color: #0b3948;
}

.logoImg {
  min-width: 200px;
  width: 33%;
  height: auto;
}

.SmallLogoImg {
  min-width: 100px;
  width: 9%;
  height: auto;
}

.headerHome {
  margin-bottom: 3%;
}

.arrow {
  filter: invert(100%);
  width: 15%;
  height: auto;
  padding-top: 3%;
}

.centerTextScroll {
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}

::selection {
  color: #dcfaff;
}

.blue {
  color: #0b3948;
}

html,
body {
  margin: 0;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  outline: none;
  color: #00ab7f;
  transition: color 0.2s;
  font-family: "Circular", sans-serif;
}

.bm-item:hover {
  color: #0b3948;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #0b3948;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #0b3948;
}

.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: white;
}

.bm-item-list {
  color: white;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  h1 {
    padding-top: 3%;
    font-size: 5vh;
  }

  .logoImg {
    padding-top: 0;
    margin-top: 0;
  }
  .textForm {
    width: 90%;
  }
}
