.App {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  background: #013220;
  width: auto;
  justify-content: center;
  align-items: center;
  color: white;
}

input {
  border: none;
  background: transparent;
  font-family: "Fira Sans", sans-serif;
  font-size: 8vh;
}
button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 8vh;
}
::placeholder {
  color: white;
}

select {
  background-color: transparent;
  border: 0;
  font-size: 8vh;
}

.customselect {
  width: 20vw;
  height: 20vh;
}

h1 {
  font-weight: bold;
  justify-self: center;
  font-size: 10vh;
}

.barImg {
  width: 50%;
  height: auto;
}
